.btn-login {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    /* Hiệu ứng chuyển màu nền */
}

.login-form{
    background-color: #fff;
}

.btn-login:hover {
    background-color: #7e7e7e;
    /* Màu nền khi hover */
    color: #fff;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #000000;
}

.btn-login-other {
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
}
.btn-login-other:hover{
    border: 1px solid #fff;
    background-color: rgb(165, 165, 165);
    color: #fff;
}

/* .button-login-facebook {

} */
.bg{
    background-color: #98c7ef;  
    min-height: 100vh;
}